<%= bootstrap_form_for(auction) do |f| %>
  <% if auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
        <% auction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.text_area :details %>
  </div>

  <%= f.text_field :endon, 'data-behaviour' => 'datepicker' %>

  <script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker();
  </script>

  <div class="field">
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
